@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Pen+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

:root {
  --main-backgroundcolor: white;
  --body-font: "Poppins", sans-serif;
  --secondary-font: "Karla", sans-serif;
  --cursive-font: "Nanum Pen Script", cursive;
  --body-margin: 2rem;
  --body-padding: 5rem;
  --color-purple: #7161ef;
  --secondary-color: #4f3ecffb;
  --secondary-text-color: white;
}

body {
  background-color: var(--main-backgroundcolor);
  width: 100vw;
  height: 100vh;
  font-family: var(--body-font);
  /* overflow-x: hidden; */
}

/* utility class */
.purple{
    color: var(--color-purple);
}

.weighted{
    font-weight: 600;
}

.handwritten {
  font-family: var(--cursive-font);
}


main hr{
    border: 0;
    background: none;
    height: 1.2px;
    margin: 40px 84px;
}

.container {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

/* navbar */

nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  align-items: center;
  background-color: var(--color-purple);
  color: white;
}

.leftnav {
  width: 25%;
  height: 100%;
  font-family: var(--cursive-font);
  font-size: 1.9rem;
  font-weight: 600;
  margin: var(--body-margin);
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo img{
    height: 65px;
}

.rightnav {
  width: 60%;
  height: 100%;
}

.ulstyle {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  font-weight: 600;
  font-size: 1.1rem;
}

.ulstyle li {
  margin: 2rem;
}

.ulstyle li a{
    text-decoration: none;
    color: white;
}

.ulstyle li a:hover{
    color: var(--secondary-color);
    font-size: 1.15rem;
}

.nav-toggel {
  display: none;
  color: white;
}

.nav-toggel:hover{
  color: var(--secondary-color);
    font-size: 1.15rem;
}

/* first-section */

.first-section{
    width: 100%;
    height:480px;
    /* border: 1px solid red; */
    margin: 80px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-section-left{
    width: 50%;
    height: 60%;
    padding-left: 50px;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 2.8rem;
    align-content: center;
    /* border: 1px solid black; */
}

.nameheading{
  margin: 5px 0;
}

.first-section-right{
    height: 100%;
    width: 30%;
    align-content: center;
}

.first-section-right img{
  width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;

}

.first-section-heading{
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: 410;
}

/* about section  */

main{
  width: 100vw;
}
.about-section{
    width: 100%;
    height: 980px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.about-section-heading{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-purple);
    font-size: 1.8rem;
}

/* about section upper  */

.about-section-upper {
  width: 82%;
  height: 350px;
  margin: 20px 0;
  padding: 5px 20px;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic img {
  height: 150px;
}

.text{
  font-family: var(--secondary-font);
  font-size: 18px;
  margin: 18px 0;
}

/* about section lower  */

.about-section-lower{
  width: 82%;
  height: 650px;
  display: flex;
  /* border: 1px solid black; */
}

.education {
  width: 41%;
  margin: 10px 20px;
  padding: 5px 10px;
  /* border: 1px solid black; */
}

#a-s-l-main > div {
  margin: 10px 0;
}

#a-s-l-main h3{
  color: var(--color-purple);
}

.skills {
  width: 53%;
  margin: 10px 20px;
  padding: 5px 10px;
  /* border: 1px solid red; */
}

.skills-box div{
  margin: 30px 0;
}

.c-programming {
  width: 94%;
  height: 40px;
  border-radius: 10px;
  padding: 3px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow:  0px 9px 47px -14px rgba(113,97,239,1);
}

.c-programming-innerbox{
  width: 90%;
  height: 30px;
  padding: 3px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

.html {
  width: 94%;
  height: 40px;
  border-radius: 10px;
  padding: 3px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow:  0px 9px 47px -14px rgba(113,97,239,1);
}

.html-innerbox {
  width: 90%;
  height: 30px;
  padding: 3px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

.css {
  width: 94%;
  height: 40px;
  border-radius: 10px;
  padding: 3px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow:  0px 9px 47px -14px rgba(113,97,239,1);
}

.css-innerbox {
  width: 85%;
  height: 30px;
  padding: 3px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

.js {
  width: 94%;
  height: 40px;
  border-radius: 10px;
  padding: 3px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow:  0px 9px 47px -14px rgba(113,97,239,1);
}

.js-innerbox {
  width: 80%;
  height: 30px;
  padding: 3px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}



/* footer section */


/* footer left  */
footer {
  width: 100vw;
  height: 590px;
  display: flex;
  background-color: #7261ef18;
  font-family: var(--secondary-font);
}

.footer-left {
  /* border: 1px solid red; */
  width: 40%;
  padding: 90px 60px;
  margin: 10px 10px 0px 122px;
}



.footer-left-heading {
  font-size: 30px;
  margin-bottom: 40px;
  color: var(--color-purple);
}

.footer-text {
  font-size: 17px;
  margin: 0 0 25px 0 ;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 30px;
  list-style: none;
}

.icons {
  font-size: 25px;
}

.icons a{
  color: var(--color-purple);
}

.icons a:hover{
  color: #6411ad;
}


/* footer right  */

.footer-right {
  width: 40%;
  margin: 10px 122px 0px 10px;
  /* border: 1px solid red; */
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 90px 0px 0 20px;
}

#name,#email,#message{
  margin:0 0 30px 0;
  border: 1px solid var(--color-purple);
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-family: var(--secondary-font);

}

#name {
  height: 35px;
}

#email {
  height: 35px;
}

#message{
  resize: none;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-purple);
  color: beige;
  font-family: var(--secondary-font);
  font-size: 15px;
}

button:hover {
  border: 1px solid var(--color-purple);
  background-color: rgb(255, 255, 255);
  color: var(--color-purple);
}

.second-footer {
  width: 100vw;
  height: 60px;
  background-color: var(--color-purple);
    color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

